In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


#Read data frame from csv file
df = pd.read_csv('TC1002S/covid19_tweets.csv')

#Show the first 5 rows of the data frame
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [3]:
#Extracting the column 'user_location'
df['user_location']

#Converting the column 'user_location' to a column of type string
df['user_location'] = df['user_location'].astype(str)

#Creating a new column 'country' and assigning the value 'None' to all the rows
df['country'] = 'None'

#Displaying the first 5 rows of the data frame
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet,country
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False,None
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False,None
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False,None
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False,None
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False,None

In [4]:
#Importing the library spacy
import spacy

#Loading the model 'en_core_web_sm'
nlp = spacy.load('en_core_web_sm')

In [5]:
#Preprocessing Text Data
#Creating a function to extract the country from the column 'user_location'
def get_country(text):
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == 'GPE':
            return ent.text
    return None

#Applying the function to the column 'user_location' and storing the result in the column 'country'
df['country'] = df['user_location'].apply(get_country)

#Displaying the first 5 rows of the data frame
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet,country
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False,None
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False,New York
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False,None
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False,None
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False,Jammu

In [7]:
#Extracting the column 'country' and storing it in another data frame
df_country = df['country']

In [22]:
#Counting df_country values
df5 = df_country.value_counts()[:200]

In [23]:
#Downloading the dataset df5 as a csv file
df5.to_csv('df5.csv')

In [9]:
#Downloading df_country as a csv file
df_country.to_csv('TC1002S/country.csv', index=False)

In [24]:
#Duplicating df_country and storing it in another data frame
df_country2 = df_country

#Using a list in order to remap the values of the column 'country', so that the values that are in the list city_to_country are replaced if they are found in the column 'country', if not in the list city_to_country, the value 'undefined country', if the value is NaN, leave it
city_to_country = {
    "India": "India",
    "United States": "United States",
    "London": "United Kingdom",
    "New Delhi": "India",
    "New York": "United States",
    "Mumbai": "India",
    "Washington": "United States",
    "Los Angeles": "United States",
    "England": "United Kingdom",
    "USA": "United States",
    "Toronto": "Canada",
    "California": "United States",
    "Canada": "Canada",
    "Chicago": "United States",
    "Australia": "Australia",
    "South Africa": "South Africa",
    "UK": "United Kingdom",
    "Melbourne": "Australia",
    "United Kingdom": "United Kingdom",
    "Nairobi": "Kenya",
    "Florida": "United States",
    "Sydney": "Australia",
    "Atlanta": "United States",
    "Texas": "United States",
    "Boston": "United States",
    "San Francisco": "United States",
    "Switzerland": "Switzerland",
    "Lagos": "Nigeria",
    "Houston": "United States",
    "Vancouver": "Canada",
    "Johannesburg": "South Africa",
    "Ontario": "Canada",
    "Beijing": "China",
    "Seattle": "United States",
    "Bengaluru": "India",
    "Hyderabad": "India",
    "Philippines": "Philippines",
    "Las Vegas": "United States",
    "Singapore": "Singapore",
    "Ireland": "Ireland",
    "Bhubaneshwar": "India",
    "Hong Kong": "Hong Kong",
    "San Diego": "United States",
    "Philadelphia": "United States",
    "Austin": "United States",
    "Manila": "Philippines",
    "Ottawa": "Canada",
    "New Jersey": "United States",
    "Dallas": "United States",
    "Kenya": "Kenya",
    "Scotland": "United Kingdom",
    "Dubai": "United Arab Emirates",
    "Ohio": "United States",
    "Pakistan": "Pakistan",
    "North Carolina": "United States",
    "Odisha": "India",
    "New York City": "United States",
    "Portland": "United States",
    "Jammu": "India",
    "Geneva": "Switzerland",
    "Baltimore": "United States",
    "Delhi": "India",
    "Miami": "United States",
    "Colorado": "United States",
    "Jaipur": "India",
    "Brooklyn": "United States",
    "Nashville": "United States",
    "Georgia": "United States",
    "Paris": "France",
    "Bangkok": "Thailand",
    "Dublin": "Ireland",
    "Brussels": "Belgium",
    "Sacramento": "United States",
    "Michigan": "United States",
    "Sri Lanka": "Sri Lanka",
    "Calgary": "Canada",
    "New Orleans": "United States",
    "Phoenix": "United States",
    "Arizona": "United States",
    "British Columbia": "Canada",
    "Malaysia": "Malaysia",
    "Uganda": "Uganda",
    "Pretoria": "South Africa",
    "Cambridge": "United Kingdom",
    "Oregon": "United States",
    "Birmingham": "United Kingdom",
    "Denver": "United States",
    "Brisbane": "Australia",
    "Minneapolis": "United States",
    "United Arab Emirates": "United Arab Emirates",
    "Alberta": "Canada",
    "Pennsylvania": "United States",
    "Oakland": "United States",
    "Pittsburgh": "United States",
    "Virginia": "United States",
    "Illinois": "United States",
    "Berlin": "Germany",
    "Manhattan": "United States",
    "Ghana": "Ghana",
    "San Antonio": "United States",
    "Tampa": "United States",
    "Japan": "Japan",
    "Abuja, Nigeria": "Nigeria",
    "Wisconsin": "United States",
    "Tennessee": "United States",
    "Orlando": "United States",
    "Detroit": "United States",
    "US": "United States",
    "America": "United States",
    "Charlotte": "United States",
    "Noida": "India",
    "NC": "United States",
    "Pune, India": "India",
    "Doha": "Qatar",
    "Kansas City": "United States",
    "Gujarat": "India",
    "France": "France",
    "Kerala": "India",
    "Victoria": "Australia",
    "Maryland": "United States",
    "Queensland": "Australia",
    "Tokyo": "Japan",
    "Kuala Lumpur": "Malaysia",
    "Massachusetts": "United States",
    "Salt Lake City": "United States",
    "Kampala": "Uganda",
    "Minnesota": "United States",
    "Columbus": "United States",
    "Bangladesh": "Bangladesh",
    "Nigeria": "Nigeria",
    "Srinagar": "India",
    "Indiana": "United States",
    "Kolkata": "India",
    "Islamabad": "Pakistan",
    "Cleveland": "United States",
    "Germany": "Germany",
    "Washington DC": "United States",
    "Connecticut": "United States",
    "Edinburgh": "United Kingdom",
    "Thailand": "Thailand",
    "Arkansas": "United States",
    "Dublin City": "Ireland",
    "Amsterdam": "Netherlands",
    "Indianapolis": "United States",
    "St. Louis": "United States",
    "INDIA": "India",
    "Kentucky": "United States",
    "Richmond": "United States",
    "Montr‚àö¬©al": "Canada",
}

#Remapping the values of the column 'country' using the list city_to_country
df_country2 = df_country2.map(city_to_country)

#Displaying the first 5 rows of the data frame
df_country2.head()

0              NaN
1    United States
2              NaN
3              NaN
4            India
Name: country, dtype: object

In [25]:
#Counting df_country2 values
df6 = df_country2.value_counts()

#Displaying the count of the values of the column 'country'
df6

United States           13033
India                    5959
United Kingdom           3151
Canada                   2116
Australia                1538
South Africa              856
Kenya                     562
Switzerland               446
Nigeria                   443
Philippines               383
Ireland                   354
China                     263
United Arab Emirates      241
Singapore                 207
Pakistan                  201
Hong Kong                 198
France                    172
Malaysia                  161
Uganda                    160
Thailand                  159
Japan                     139
Germany                   136
Belgium                   102
Sri Lanka                 100
Ghana                      76
Qatar                      69
Bangladesh                 64
Netherlands                53
Name: country, dtype: int64

In [1]:
#Displaying the first 5 rows of the data frame
df.head()

NameError: name 'df' is not defined